<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <!-- endpoints list could be copied from the server's config file -->
    <!-- has to match with server's config file -->
    <client>

      <endpoint address="net.tcp://localhost:1234/CustomerService"
                binding="netTcpBinding"
                contract="Demo.Client.Contracts.ICustomerService" />
      <endpoint address="net.tcp://localhost:1234/InventoryService"
                binding="netTcpBinding"
                contract="Demo.Client.Contracts.IInventoryService" />
      <endpoint address="net.tcp://localhost:1234/ShoppingService"
                binding="netTcpBinding"
                contract="Demo.Client.Contracts.IShoppingService" />

    </client>

    <services>
      <service name="System.ServiceModel.Discovery.AnnouncementService">
        <endpoint kind="udpAnnouncementEndpoint" />
      </service>
    </services>

    <!-- has to match with server's config file -->
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000"
                 transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>